// Navigation Styles here

nav{
    display:flex;
    justify-content: space-evenly;
  
    .links{
        justify-content: space-between;

        a{
            justify-content:space-between;
            text-decoration:none;
            color: black;   
        }
    }
}